<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="andbase.com.mytesttwo">

    <application
        android:name="andbase.com.mytesttwo.MyApp"
        tools:replace="android:allowBackup,android:label"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="猪险宿主工程"
        android:icon="@drawable/pig_ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name="andbase.com.mytesttwo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <meta-data
                    android:name="com.amap.api.v2.apikey"
                    android:value="adf3458ffa64cdeee292d3ed2a68b6cc" />  2018-12-10高德KEY  adf3458ffa64cdeee292d3ed2a68b6cc -->

    </application>

</manifest>